<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hanabi</title>
  <link rel="stylesheet" href="{% static 'hanabi/css/interface-overhaul.css' %}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha512-0S+nbAYis87iX26mmj/+fWt1MmaKCv80H+Mbo+Ne7ES4I6rxswpfnC6PxmLiw33Ywj2ghbtTw0FkLbMWqh4F7Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- HEADER -->
  <div class="header">
    <!-- Played Cards -->
    <div class="played-cards">
      <div class="played-cards__title">Played Cards</div>
      <div class="played-cards__display">
        <div class="played-cards__display--stack">
          <div class="card r1"></div>
          <div class="card r2"></div>
          <div class="card r3"></div>
          <div class="card r4"></div>
          <div class="card r5"></div>
        </div>
        <div class="played-cards__display--stack">
          <div class="card b5"></div>
        </div>
        <div class="played-cards__display--stack">
          <div class="card g5"></div>
        </div>
        <div class="played-cards__display--stack">
          <div class="card y5"></div>
        </div>
        <div class="played-cards__display--stack">
          <div class="card p5"></div>
        </div>
      </div>
    </div>
    <!-- Discarded Cards -->
    <div class="discarded-cards">
      <div class="discarded-cards__title">Discarded Cards</div>
      <div class="discarded-cards__display">
        <div class="discarded-cards__display--stack">
          <div class="card r1"></div>
          <div class="card b2"></div>
          <div class="card g3"></div>
        </div>
      </div>
      <div class="discarded-cards__popout-icon">
        <i class="fas fa-chevron-left"></i>
      </div>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <div>
      <div class="player-name">Player 1</div>
      <div class="player-container">
          <div class="player-hand">
            <div class="card r1"></div>
            <div class="card r2"></div>
            <div class="card r3"></div>
            <div class="card r4"></div>
          </div>
          <div class="player-text">Hello!</div>
      </div>
    </div>

    <div>
      <div class="player-name">Player 2</div>
      <div class="player-container">
        <div class="player-hand">
          <div class="card b1"></div>
          <div class="card b2"></div>
          <div class="card b3"></div>
          <div class="card b4"></div>  
        </div>
        <div class="player-text">Hello!</div>
      </div>
    </div>

    <div>
      <div class="player-name">Player 3</div>
      <div class="player-container">
        <div class="player-hand">
          <div class="card g1"></div>
          <div class="card g2"></div>
          <div class="card g3"></div>
          <div class="card g4"></div>
        </div>
        <div class="player-text">Hello!</div>
      </div>
    </div>

    <div>
      <div class="player-name">Player 4</div>
      <div class="player-container">
        <div class="player-hand">
          <div class="card y1"></div>
          <div class="card y2"></div>
          <div class="card y3"></div>
          <div class="card y4"></div>
        </div>
        <div class="player-text">Hello!</div>
      </div>
    </div>

    <div>
      <div class="player-name">Player 5</div>
      <div class="player-container">
        <div class="player-hand">
          <div class="card p1"></div>
          <div class="card p2"></div>
          <div class="card p3"></div>
          <div class="card p4"></div>
        </div>
        <div class="player-text">Player 4 has five yellow cards</div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="game-info">
    <div class="icon-wrapper">
      <div class="icon heart-icon">
        <div class="icon__counter">2</div>
      </div>
      <div class="icon-label">Lives</div>
    </div>
    <div class="icon-wrapper">
      <div class="icon hint-icon">
        <div class="icon__counter">5</div>
      </div>
      <div class="icon-label">Hints</div>
    </div>
    <div class="icon-wrapper">
      <div class="icon deck-icon">
        <div class="icon__counter">21</div>
      </div>
      <div class="icon-label">Deck</div>
    </div>
  </div>
</body>

</html>


