*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Times New Roman', Times, serif;

    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #0d0d0d;
    --clr-bg: #272064;
    --clr-highlight: rgb(255, 255, 0);
    --clr-lives: rgb(202, 32, 32);
    --clr-hints: rgb(31, 205, 248);

    --fs-small: 2vh;
    --fs-medium: 4vh;
    --fs-large: 6vh;
    --fs-icon: 5vh;

    --margin: 1vh;

    --bw: .25vh;
    --br: 1vh;

    --card-width: 6vh;
    --card-height: 9vh;

    --triangle-width: 2.5vh;
    --text-bubble-width: 13vh;
}

/* General Styles */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: var(--clr-bg);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-small);
    display: flex;
    flex-direction: column;

    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.played-cards,
.discarded-cards,
.game-info,
.player-text {
    background: var(--clr-dark);
    border: var(--bw) solid var(--clr-light);
    border-radius: var(--br);
}

/* Header - Played and Discarded Sections */

.header { display: flex; }

.played-cards,
.discarded-cards {
    margin: var(--margin);
    padding: var(--margin);
    display: flex;
    flex-direction: column;
}

.discarded-cards { 
    flex: 1;
    margin-left: 0;
}

.played-cards__display,
.discarded-cards__display {
    display: flex;
    flex: 1;
    margin: var(--margin);
}

.played-cards__display { justify-content: center; }

.played-cards__display--stack {
    display: flex;
    flex-direction: column;
}

.played-cards__display--stack > .card {
    margin-bottom: calc( var(--card-height) * -.96);
}

.discarded-cards__display--stack {
    display: flex;
    flex-direction: row;
}

.discarded-cards__display--stack > .card {
    margin-right: calc( var(--card-width) * -.7);;
}

/* Content - Player Hands and Game Text */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: var(--margin);
}

.player-container {
    display: flex;
    align-items: center;
    margin: var(--margin);
}

.player-name {
    font-family: var(--ff-secondary);
    margin-left: var(--margin);
}

.player-hand {
    display: flex;
    flex-shrink: 0;
}

.player-text {
    padding: var(--margin);
    align-self: stretch;
    min-width: var(--text-bubble-width);
    position: relative;
    margin-left: calc(var(--triangle-width) + var(--margin));
    margin-right: var(--margin);
}

.player-text:before,
.player-text:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top: calc(var(--triangle-width) * .5) solid transparent;
    border-bottom: calc(var(--triangle-width) * .5) solid transparent;
    bottom: var(--br);
}

.player-text:before {
    border-right: var(--triangle-width) solid var(--clr-light);
    left: calc(var(--triangle-width) * -1 - var(--bw) * .5);
}

.player-text:after {
    border-right: var(--triangle-width) solid var(--clr-dark);
    left: calc(var(--triangle-width) * -1 + var(--bw) * 1.5);
}


/* Footer - Game Info Section */

.game-info {
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info > i {
    font-size: var(--fs-icon);
}

/* Cards */

.card {
    background-size: 100%;
    height: var(--card-height);
    width: var(--card-width);
    background-repeat: no-repeat;
}

.r1 { background-image: url(/static/hanabi/img/r1.png); }
.r2 { background-image: url(/static/hanabi/img/r2.png); }
.r3 { background-image: url(/static/hanabi/img/r3.png); }
.r4 { background-image: url(/static/hanabi/img/r4.png); }
.r5 { background-image: url(/static/hanabi/img/r5.png); }
.b1 { background-image: url(/static/hanabi/img/b1.png); }
.b2 { background-image: url(/static/hanabi/img/b2.png); }
.b3 { background-image: url(/static/hanabi/img/b3.png); }
.b4 { background-image: url(/static/hanabi/img/b4.png); }
.b5 { background-image: url(/static/hanabi/img/b5.png); }
.g1 { background-image: url(/static/hanabi/img/g1.png); }
.g2 { background-image: url(/static/hanabi/img/g2.png); }
.g3 { background-image: url(/static/hanabi/img/g3.png); }
.g4 { background-image: url(/static/hanabi/img/g4.png); }
.g5 { background-image: url(/static/hanabi/img/g5.png); }
.y1 { background-image: url(/static/hanabi/img/y1.png); }
.y2 { background-image: url(/static/hanabi/img/y2.png); }
.y3 { background-image: url(/static/hanabi/img/y3.png); }
.y4 { background-image: url(/static/hanabi/img/y4.png); }
.y5 { background-image: url(/static/hanabi/img/y5.png); }
.p1 { background-image: url(/static/hanabi/img/p1.png); }
.p2 { background-image: url(/static/hanabi/img/p2.png); }
.p3 { background-image: url(/static/hanabi/img/p3.png); }
.p4 { background-image: url(/static/hanabi/img/p4.png); }
.p5 { background-image: url(/static/hanabi/img/p5.png); }
.back { background-image: url(/static/hanabi/img/back.png); }